# Environment Secrets
.env
.env.*
!.env.example
backend/.env
frontend/.env

# Development Support Tools (Scratch scripts & logs)
tools/
*.log
scratch/

# Dependencies
node_modules/
dist/
.angular/
.venv/
venv/
__pycache__/
*.pyc

# Project Data & Assets
backend/uploads/*.pptx
backend/uploads/*.pdf
backend/data/
backend/chroma_db/
.DS_Store

# IDEs
.vscode/
.idea/
