# Core API
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
psycopg[binary]
pgvector

# LLM Providers
anthropic
mistralai==1.7.0
openai
google-generativeai


# File Processing
python-pptx
PyMuPDF
Pillow

# Utilities
python-dotenv
numpy
loguru
weasyprint
playwright
pydantic
# Templating
jinja2
